@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-image: url(images/bg-pattern-bottom.svg) /* url(images/bg-pattern-top.svg) */;
  background-repeat: no-repeat;
  background-color:hsl(185, 75%, 39%);
  background-position-x: 150%;
  background-position-y: 700%;
  background-attachment: scroll;
  height: 100vh;
  min-width: 100vw;
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.background {
  height: 100vh;
  width: 100vw;
  background-image: url(images/bg-pattern-top.svg);
  background-repeat: no-repeat;
  background-position-x: -50%;
  background-position-y: -300%;
  background-attachment: scroll;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100vh;
}

main {
  display: flex;
  margin: auto;
  flex-basis: 50%;
  background-color: white;
  border-radius: 15px;
  background-image: url(images/bg-pattern-card.svg);
  background-repeat: repeat-x;
  background-position-y: -300px;
  background-size: cover;
  
}


img {
  height: 200px;
  clip-path: circle(100px at center);
}

footer {
  position: absolute;
  bottom: 15px;
}


.attribution {
    font-size: 11px;
    text-align: center;
  }

  .attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
  }